MobileShoppingAssistant-sample/MobileAssistantAndroidAppEngine/android/build/
MobileShoppingAssistant-sample/MobileAssistantAndroidAppEngine/backend/build/
Picco_Android/build/
Picco_Android/backend/build/

